# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Docker
*.pid
*.seed
*.pid.lock

# Logs
*.log

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Others
node_modules/
Views/

